version: 2.17
jobs:
  build:
    docker:
      - image: circleci/node:10.0.0
    steps:
      - checkout:
          path: cd ..
      - run:
          name: update-npm
          command: 'sudo npm install -g npm@latest'
      - run:
          name: install-npm
          command: npm install
      - save_cache:
          key: dependency-cache-{{checksum "package-lock.json"}}
          paths:
            - ./node_modules

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build